* {
   box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font-family:"Hiragino Kaku Gothic Pro","ヒラギノ角互 Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FEFCFB;
    margin: 100px 0 0 0;
}

header{
    width: 100%;
    padding: 20px 4% 0px;
    background-color: #DCE0E0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}
h1{
    margin: 10px 100px;
    padding: 0;
    font-size: 20px;
}
.h_title{
    text-decoration: none;
    color: #4b4b4b;
}

.h_menu{
    text-decoration: none;
    color: #4b4b4b;
}

.h_menu:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
}
li{
    margin: 0 0 0 15px;
    font-size: 14px;
}
nav{
    margin: 0 0 0 auto;
}
/*検索フォーム*/
.search{
    /*background: #999;*/
    align-items: center;
    margin: 10px auto;

}
.search td{
    color: #4b4b4b;
}
/*
基本ボタン
*/
.btn{
    /*background: #111;*/
    text-align: center;
    margin: 10px 0;
}

.btn_style {
  border: 1.5px solid #d0e0d9;
  background: #FEFCFB;
  color: #4b4b4b;
}

.btn_style:hover {
  color: #4b4b4b;
  background: #d0e0d9;
}

.table{
    /*background: #ACA3DE;*/
    margin: 0 auto;
}

/*
出力テーブル
*/
.output{
    /*background: #999;*/
    width: 70%;
    margin: 0 auto;
    padding: 10px 40px;
}
#tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
    border-collapse: collapse;
    border:1px solid #d0e0d9;
    padding: 4px 12px;
    color: #4b4b4b;
}

#tbl-bdr table {
  width:100%;
}

#tbl-bdr th {
  background-color: #d0e0d9;
  /*width: 30%;*/
}
